<%- include('../partials/_navigation.ejs') %>

<script>
  let profilenav = document.querySelector("#profile");
  profilenav.classList.add("active");
</script>

<div class="container">
  <!-- * Heading -->
  <%- include('../partials/_heading.ejs') %>

  <div class="form-group">
    <label for="synchie_FullName">Full Name</label>
    <input
      type="text"
      class="form-control"
      value="<%= loggedUser.fullname %>"
      disabled
    />
  </div>
  <div class="form-group mt-2">
    <label for="synchie_username">Username</label>
    <input
      type="text"
      class="form-control"
      value="<%= loggedUser.username %>"
      disabled
    />
  </div>
  <div class="form-group mt-2">
    <label for="synchie_email">Email address</label>
    <input
      type="email"
      class="form-control"
      value="<%= loggedUser.email %>"
      disabled
    />
  </div>
  <br>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#updatePasswordModal">Update Password</button>

  <div class="modal fade" id="updatePasswordModal" tabindex="-1" aria-labelledby="updatePasswordModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="updatePasswordModalLabel">Update Password</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                  <input type="password" id="currPass" placeholder="Enter Your Current password" class="form-control mb-2">
                  <input type="password" id="newPass" placeholder="Enter Your New password" class="form-control mb-2">
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-primary" id="updatePass">Update</button>
              </div>
          </div>
      </div>
  </div>

</div>

<%- include('../partials/_Footer.ejs') %>
